.filter {
  width: 400px;
  display: flex;
  flex-direction: row;
  padding: auto;

  
}

.select {
  width: 200px;
  margin-right: auto;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
.title {
  padding: auto;

}